html,body{
    height : 100%;
}
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;

}

.main {
    position : relative;
    height : 100vh;
    width : 100%;
    overflow : hidden;
}

#hearts {
    position : absolute;
    inset : 0;
    width : 100%;
    height : 100%;
    object-fit : cover;
    z-index : 1;

}
.content {
    position: relative;
    z-index: 2;
    height: 100%;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: brown; */

}
.card {
    background-color:rgba(240, 204, 204, 0.21);
    width : 1000px;
    height : 400px;
    /* justify-content: center;
    align-items: center; */
}

#animation {
    position:relative;
    width: 200px;  /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    top:20px;
    margin: 0 auto; /* Centers it inside the card */
}

.teddy {
    height: 150px;
    width : 150px;
}
#afterYes {
    height: 150px;
    width: 150px;
}

#heading {
    align-content: center;

}
.buttons {
    margin-top: 20px;
}
#yes {
    background-color: rgba(241, 214, 232, 0.5);
    border-radius: 15px;
    border: 2px solid rgb(235, 93, 188) ;
    width: 150px;
    height :50px;
}
#no {
    background-color: rgba(241, 214, 232, 0.5);
    border-radius: 15px;
    border: 2px solid rgb(235,93,188);
    margin-left: 20px ;
    width : 150px;
    height : 50px;
}

#music {
    /* background-color: ; */
    position : absolute;
    bottom: 0;
    right: 0;
    width : 30px;
    height : 25px;
    /* padding-left: 20%; */

}